.md-tabs__list {
  color: aliceblue !important;
  margin-left: 12.7rem !important;
}

.md-tabs__item {
  color: aliceblue !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #094c98 !important;
  font-weight: bold !important;
}

.md-header {
  background-color: #094c98 !important;  
}

.md-tabs {
  background-color: #094c98 !important;
}

.md-footer {
  background-color: #094c98 !important;
}

.md-nav__title {
  color: #094c98 !important;
}

.md-nav.md-nav--secondary {
  color: #094c98 !important;
}